@model IEnumerable<Item>
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Items</title>
    <link rel="stylesheet" type="text/css" href="~/css/site.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

</head>
<body>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-8">
                    <h1>Items</h1>
                </div>
                <div class="col-md-4">
                    <a href="@Url.Action("New")" class="btn btn-success mt-2 btn-sm">New Item</a>
                </div>
            </div>
            
            <table class="table table-info">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Started Price</th>
                        <th>Highest Price</th>
                        <th>Highest Bidder</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="id">@item.Id</td>
                            <td>@item.Name</td>
                            <td>@item.Description</td>
                            <td>@item.StartedPrice</td>
                            @if (item.HighestPrice == 0)
                            {
                                <td>N/A</td>
                            }
                            else
                            {
                                <td>@item.HighestPrice</td>
                            }
                            @if (item.HighestBidder == null)
                            {
                                <td>N/A</td>
                            }
                            else
                            {
                                <td>@item.HighestBidder</td>
                            }
                            <td>@item.Status</td>
                            <td>
                                <a href="@Url.Action("Edit", new { id = item.Id })" class="btn btn-primary btn-sm">Edit</a>
                                <button class="btn btn-danger btn-sm delete-btn">Delete</button>
                                <a href="@Url.Action("BidNow", new { id = item.Id })" class="btn btn-info btn-sm">Bid now</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="col-md-2"></div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script>
        $(document).ready(function () {
            $('.delete-btn').click(function () {
                var row = $(this).closest('tr'); 
                var id = row.find('.id').text(); 

                $.ajax({
                    url: '/api/Item/' + id, 
                    type: 'DELETE', 
                    success: function (data) {
                        row.remove();
                        alert('Deleted successfully.');
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert('Something went wrong, please try again.');
                    }
                });
            });
        });
    </script>
</body>
</html>
